.dots {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  text-align: center;
}
.logo.preloader {
  width: 300px;
  height: 360px;
  background-image: url('../logo.png?v=1');
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -180px;
}
