/* Grid */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: "DejaVu Sans";
  src: url("../fonts/DejaVuSans.eot?") format("eot"), url("../fonts/DejaVuSans.woff") format("woff"), url("../fonts/DejaVuSans.ttf") format("truetype"), url("../fonts/DejaVuSans.svg#DejaVuSans") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

html, body, .pagewrap {
  height: 100%; }

body {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  font-family: "Lato", Arial, sans-serif; }
  body.loaded {
    background: #402a2a;
    color: #fff; }

/*****************************/
/* Custom Styles */
/*****************************/
.dots {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  text-align: center;
  z-index: -1; }

.logo.preloader {
  width: 300px;
  height: 360px;
  background-image: url("../logo.png?v=1");
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -180px; }

section.home {
  display: none; }
  section.home.show {
    display: block;
    width: 100%;
    height: 100%; }
  section.home .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0.3; }
  section.home .logo {
    width: 300px;
    height: 100px;
    background: url("../logo-small.png"); }
  section.home .container {
    position: relative;
    padding-top: 50px; }
  section.home .land {
    text-align: center;
    font-family: "DejaVu Sans", sans-serif;
    margin-top: 150px; }
    section.home .land .desc {
      font-size: 18px; }

#showMenu {
  border-bottom: 3px solid #ed8151;
  border-top: 3px solid #ed8151;
  display: block;
  height: 13px;
  top: 25px;
  left: 25px;
  position: absolute;
  width: 25px;
  cursor: pointer; }
  #showMenu:after {
    background-color: #ed8151;
    content: "";
    height: 3px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 100%; }

/*****************************/
/* Preloader */
/*****************************/
.pageload-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1080;
  visibility: hidden; }
  .pageload-overlay.show {
    visibility: visible; }
  .pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; }
    .pageload-overlay svg path {
      fill: #fff; }
  .pageload-overlay::after,
  .pageload-overlay::before {
    content: '';
    width: 20px;
    height: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
    transition: opacity 0.15s, visibility 0s 0.15s; }
  .pageload-overlay::after {
    /* background: #ffffff; */
    background: #6cc88a;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-animation: moveRight 0.6s linear infinite alternate;
    animation: moveRight 0.6s linear infinite alternate; }
  .pageload-overlay::before {
    /* background: #323f44; */
    background: #4fc3f7;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation: moveLeft 0.6s linear infinite alternate;
    animation: moveLeft 0.6s linear infinite alternate; }

@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(20px); } }

@keyframes moveRight {
  to {
    transform: translateX(20px); } }

@-webkit-keyframes moveLeft {
  to {
    -webkit-transform: translateX(-20px); } }

@keyframes moveLeft {
  to {
    transform: translateX(-20px); } }

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

/**********/
/* Grid */
/*******/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc); }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1000; }

.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
  content: "";
  display: table;
  clear: both; }

.row {
  padding-bottom: 0em; }

.col {
  display: block;
  float: left;
  width: 100%; }
  .col.hide_s {
    display: none; }

@media (min-width: 768px) {
  .gutters .col {
    margin-left: 2%; }
  .gutters .col:first-child {
    margin-left: 0; } }

@media (min-width: 768px) {
  .col.hide_s {
    display: block; }
  .span_1 {
    width: 8.33333%; }
  .span_2 {
    width: 16.66667%; }
  .span_3 {
    width: 25%; }
  .span_4 {
    width: 33.33333%; }
  .span_5 {
    width: 41.66667%; }
  .span_6 {
    width: 50%; }
  .span_7 {
    width: 58.33333%; }
  .span_8 {
    width: 66.66667%; }
  .span_9 {
    width: 75%; }
  .span_10 {
    width: 83.33333%; }
  .span_11 {
    width: 91.66667%; }
  .span_12 {
    width: 100%; }
  .gutters .span_1 {
    width: 6.5%; }
  .gutters .span_2 {
    width: 15%; }
  .gutters .span_3 {
    width: 23.5%; }
  .gutters .span_4 {
    width: 32%; }
  .gutters .span_5 {
    width: 40.5%; }
  .gutters .span_6 {
    width: 49%; }
  .gutters .span_7 {
    width: 57.5%; }
  .gutters .span_8 {
    width: 66%; }
  .gutters .span_9 {
    width: 74.5%; }
  .gutters .span_10 {
    width: 83%; }
  .gutters .span_11 {
    width: 91.5%; }
  .gutters .span_12 {
    width: 100%; } }

@media (min-width: 1028px) {
  .container {
    max-width: 1100px; } }
